:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.55);
    --menu-speed: 0.75s;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 10%;
}

.showcase:before {
    content: "";
    background: url(img.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}


/* Read more botton */

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    opacity: 0.7;
}


/* This is menu wrap */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    width: 65px;
    height: 65px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger line */

.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Top and bottom lines */

.menu-wrap .hamburger div:before,
.menu-wrap .hamburger div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves line down */

.menu-wrap .hamburger div:after {
    top: 10px;
}


/* Toggler animate */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* TRUN LINES INTO X */

.menu-wrap .toggler:checked+.hamburger div:before,
.menu-wrap .toggler:checked+.hamburger div:after {
    top: 0;
    transform: rotate(90deg)
}


/* Rotate on hover when checked */

.menu-wrap .toggler:checked+.hamburger div {
    transform: rotate(225deg);
}


/* Show menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu div div {
    opacity: 1;
    transition: opacity 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    flex: none;
    /* padding-right: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu div div {
    text-align: center;
    max-width: 90vw;
    max-height: 95vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu div div ul li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu div div ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    padding-right: 40px;
}

.menu-wrap .menu div div ul li a:hover {
    color: darkorchid;
    text-decoration: none;
    transition: color 0.4s ease;
}


/* The styles of container-fluid sections */

.container-fluid {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
}

.col {
    font-family: monospace;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.row {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: rgb(230, 184, 100);
}

.card-body {
    background-color: rgb(245, 240, 240);
}

.accordion {
    top: 0;
    left: 0;
    text-align: left;
    align-items: left;
    background-color: beige;
}

.accordion .card-header p {
    text-align: center;
}


/*---------The container Media queries------------*/

@media (min-width: 370px) and (max-width: 980px) {
    .container-fluid {
        position: static;
        width: inherit;
        height: auto;
    }
    .container-fluid .menu-wrap {
        width: 100%;
        position: absolute;
        left: 1rem;
        top: 0.3rem;
    }
    .container-fluid .showcase {
        width: 100%;
    }
    .container-fluid .jumbotron {
        width: 100%;
        height: auto;
        border-radius: 2%;
    }
    .container-fluid .col {
        width: 100%;
    }
    .p-class {
        width: 100%;
        height: auto;
    }
    .container-fluid .contact-form form {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
}


/* Footer */

.footer {
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #fff;
}

.footer a {
    text-decoration: none;
}


/* The styles of the Posts which are sepritaly connected in the A href links */

.p-class {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: left;
}

.p-class h1 {
    text-align: left;
    color: white;
    font-size: 30px;
}

.p-class .paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: white;
    padding-left: 1rem;
    break-inside: 1rem;
}


/* Contact section */

.container-fluid .contact-form form {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    text-align: left;
}

.contact-form h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    background-color: white;
    text-align: center;
}