/*------------RESET Eric------------*/


/*#region*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/*Make the box model border-box by default*/

html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box
}


/*#endregion*/


/*--------BASIC FORMATTING-----------*/

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial;
    font-size: 1rem;
    font-weight: 25rem;
    line-height: 1.5rem;
    color: #292929;
    text-align: left;
    background-color: #fff;
}


/*----------All stlyes of the header------------*/

.header {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 17.5rem;
    background: #3B7EEB;
    color: #fff;
}

.header .blogname {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem;
    margin-top: 1rem;
}

.header .blogname a {
    color: #fff;
}

.header .blogname a:hover {
    text-decoration: none;
    transition: 1s ease;
    opacity: 1s;
    color: darkgreen;
}

.header a {
    color: white;
}

.pf-section {
    padding-top: 16px;
}

.pf-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.mb-3 a:hover {
    transition: 1s ease;
    color: purple;
}

.btn {
    font-weight: bold;
    padding: 0.5rem;
    height: 2.5rem;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 700px) {
    .btn {
        width: auto;
        height: auto;
    }
}


/*------------Login button and input styles------------*/

.btn-primary {
    color: #fff;
}

.theme-bg-light {
    background: #fafafa;
}

.theme-bg-dark {
    background: gray;
}


/*-------------Social media icons styles-----------*/

.fa {
    padding: 0.35rem;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 0.625rem 0.3rem;
    border-radius: 1rem;
    display: inline-block;
    background-color: white;
    color: #007bff;
}


/*------------Set a specific color for each brand of icons-------------*/

.fa:hover {
    opacity: 0.7rem;
}


/*------------Twitter icon-------------*/

.fa-twitter {
    background-color: white;
    color: #007bff;
}


/*------------Facebook icon------------*/

fa-facebook {
    background-color: white;
    color: #007bff;
}


/*-------------linkedin icon-----------*/

.fa-linkedin {
    background-color: white;
    color: #007bff;
}


/*------------Github icon--------------*/

.fa-github {
    background-color: white;
    color: #007bff;
}


/*-------------The styles of Icons Status--------------*/

ul .fas {
    padding: 0.35rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}


/*This is the mainpage wrapper and Template section styles
---------------------------------------------------------*/

.img-fluid {
    width: 8rem;
    height: 9rem;
    padding: 0.7rem;
    top: 0;
    left: 0;
}

.mainpage-wrapper {
    margin-left: 280px;
    background: white;
    text-align: left;
}

.template-section {
    text-align: center;
    left: 0;
    right: 0;
}

.mainpage-wrapper .container {
    max-width: 820px;
}

.mainpage-wrapper .heading {
    max-width: 820px;
}

.template-section .heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.pragarph {
    font-family: serif;
    color: gray;
}

.title {
    font-size: 1.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: rgb(white, blue);
    text-decoration: underline;
    transition: all 1s ease;
    opacity: 1s;
}


/*-------------The header sidebar styles from Media queries------------*/

@media (min-width: 320px) and (max-width: 980px) {
    .header {
        position: static;
        width: inherit;
        height: auto;
    }
    .header .blogname {
        width: 100%;
        position: absolute;
        left: 1rem;
        top: 0.3rem;
    }
    .header .btn-primary {
        width: 100%;
    }
    .header .navbar {
        padding: 1rem;
    }
    .mainpage-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 760px) {
    .theme-btn-template {
        width: inherit;
        display: inline-block;
    }
    .template-section .form-inline .form-control {
        width: 360px;
    }
}


/*-------------This is signup-form--------------*/

.signup-form {
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 760px) {
    .signup-form .form-group {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .signup-form .form-control {
        width: 100%;
    }
    .signup-form .btn-primary {
        width: 100%;
    }
}


/*--------Social time and Comments layout Styles----------*/

.social {
    font-size: 0.6rem;
    color: gray;
}

.social a {
    color: red;
}

.social .date {
    color: blue;
}


/*----------Next and Previous Buttons styles------------*/

.previous-next {
    text-align: center;
    padding-top: 4rem;
}

.next {
    text-align: center;
    display: inline-block;
    padding: 1rem;
    height: 3.125rem;
    width: 100%;
    font-family: bold;
    background-color: #007bff;
    color: white;
}

.previousnext {
    text-align: center;
}

.previousnext .btn {
    width: 45%;
    background-color: #007bff;
    height: 3rem;
    margin-top: 2rem;
    color: white;
}


/*---------The last Fotter and Heart icon---------*/

.fa-heart {
    color: blue;
}

.footer {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1rem;
    background-color: #292929;
}

.footer2 {
    padding-left: 20%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1rem;
    background-color: #292929;
}