    /* RESET
--------------------------------------------*/
    /*#region*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block
    }
    
    body {
        line-height: 1
    }
    
    ol,
    ul {
        list-style: none
    }
    
    blockquote,
    q {
        quotes: none
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    /*Make the box model border-box by default*/
    
    html {
        box-sizing: border-box;
    }
    /*#endregion*/
    /* BASIC FORMATTING
--------------------------------------------*/
    
    html {
        box-sizing: border-box;
        font-size: 16px;
        scroll-behavior: smooth;
    }
    
    body {
        font-size: 1rem;
        font-family: serif;
        color: black;
        line-height: 1.5;
    }
    /*LINKS*/
    
    a {
        text-decoration: none;
        color: blueviolet;
    }
    
    a:hover {
        color: brown;
        opacity: 1;
        transition: 1s ease;
    }
    /*FORM ELEMENTS*/
    
    button {
        width: 8rem;
        height: 2.5rem;
        font-family: Helvetica;
    }
    /*Input*/
    
    input {
        width: 20rem;
        height: 2.4rem;
        font-family: Helvetica;
    }
    /*TITLES*/
    
    h1,
    h2 {
        font-weight: bold;
    }
    /*This is a paragraph*/
    
    p {
        margin-bottom: 1em;
    }
    /* This is an image of main page */
    
    img {
        width: 12rem;
        padding: 1rem;
        border-radius: 9rem;
    }
    /* Sidebar stlyes */
    
    #sidenav {
        position: fixed;
        background-color: #007bff;
        text-align: center;
        height: 45rem;
        padding-bottom: 18rem;
        height: 51.5em;
        max-width: 17.5rem;
        min-width: 17.5rem;
    }
    /* Style all font awesome icons */
    
    .fa {
        padding: 5px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 20px;
        display: inline-block;
        background-color: white;
        color: #007bff;
    }
    
    .fa:hover {
        opacity: 0.7rem;
    }
    /* Set a specific color for each brand */
    /* Twitter icon*/
    
    .fa-twitter {
        background: white;
        color: #007bff;
    }
    /*Facebook icon*/
    
    fa-facebook {
        background: white;
        color: #007bff;
    }
    /* linkedin icon*/
    
    .fa-linkedin {
        background: white;
        color: #007bff;
    }
    /* Github icon*/
    
    .fa-github {
        background: white;
        color: #007bff;
    }
    /*Dribbble icon*/
    
    .Dribbble {
        background: white;
        color: #007bff;
    }
    /* Main elements*/
    
    main {
        text-align: center;
        padding-left: 15rem;
    }
    /* This is the title of main page */
    
    #Main-title {
        font-size: 2rem;
    }
    /* Section styles */
    
    section {
        text-align: center;
    }
    /*styles of social media time, date and comments*/
    
    .meta {
        color: darkgray;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7rem;
    }
    /* HELPER CLASSES
--------------------------------------------
*/
    /* LAYOUT
--------------------------------------------
*/
    /* MEDIA QUERIES
--------------------------------------------
*/