.container
{
    padding: 5px;
    font-family: initial;
}


.form
{
 width: 50%;
     margin: 1%;
}

.name
{
    content: "*";
}

#fname
{
    width: 100%;
    
}

#lname

{
    width: 100%;
}

#Mesh-input
{
    
padding: 10%;
}

.solid
{
    padding: 1%;
    border-bottom: 3px solid gray;
    
}

h3
{
    padding: 0px;
}

.hide {
    display: none;
}

.TeleN
{
    width: 100%;
}