body {
    background-color: blue;
}

h1 {
    text-align: center;
    padding: 3em 5%;
    font-size: 2em;
    background-color: salmon;
}

@media (max-width: 1024px) {
    body {
        background-color: skyblue;
    }
    h1 {
        background-color: tan;
    }
}

@media (max-width: 768px) {
    body {
        background-color: yellow;
    }
    h1 {
        background-color: olive;
    }
}

@media (max-width: 480px) {
    body {
        background-color: floralwhite;
    }
    h1 {
        background-color: wheat;
    }
}

@media print {
    body {
        font-family: serif;
        font-size: 11pt;
        background-color: none;
    }
    h1 {
        text-align: left;
        background-color: none;
    }
}


/* Media Queries
-------------------------*/